<div class="large-6 small-12 columns">
  <img src="{{model.picture}}">
</div> 
<div class="large-6 small-12 columns">
  <h2>About the author</h2>
  <p>Name : {{model.user.name}}</p>
  <p>Email : {{model.user.email}}</p>
  {{#link-to 'user' model.user}}
    See {{set-gender model.user.gender}} profil
  {{/link-to}}
</div>