<div class="row">
    {{#each model as |item|}}
        <div class="large-3 small-6 columns">
            <img src="{{item.picture}}">
            <h6 class="panel">
                <span>Posted by {{item.name}}</span>
            </h6>
        </div>
    {{/each}}
</div>
