<div class="row">
    {{#each model as |item|}}
        {{#link-to 'user' item}}
          <div class="large-3 small-6 columns">
              <img src="{{item.picture}}">
              <h6 class="panel">
                  <span>{{item.picture}} - {{item.name}}</span>
              </h6>
          </div>
        {{/link-to}}
    {{/each}}
</div>